body
	{
	margin: auto;
	padding: 1em 0 2em;
	width: 50em;
	font-family: "Arial", sans-serif;
	font-size: 100%;
	color: #333;
	}

#header h1
        {
        margin: 1em auto;
	line-height: 120px;
        padding-left: 140px;
	border: none;
	font-size: 200%;
	color: #5b8ba6;
        background: transparent url('pgocaml-logo.png') no-repeat;
        }

#header h1 span
	{
	visibility: hidden;
	}

h1
	{
	margin: 2em 0 1em;
	padding-bottom: 0.25em;
	font-size: 140%;
	border-bottom: 1px dotted #000;
	}

li
	{
	margin-bottom: 0.25em;
	}

